.searchBar {
  margin: 30px 10px;
}
.searchInput {
  padding: 10px;
  font-size: 12px;
  line-height: 12px;
  border: 1px solid #e3e3e3;
}
.searchInput:first-child {
  border-right: 0;
}
.searchInput:focus-visible {
  outline: none;
}
.searchBut {
  line-height: 12px;
  padding: 12px;
  background: url("https://static.thenounproject.com/png/101791-200.png")
    no-repeat left;
  background-size: 20px;
}
.searchBar button {
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  background-color: white;
  border: 1px solid #e6e6e6;
}

.bookList {
  margin: auto;
  max-width: 1000px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}
.singleBook {
  width: 300px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #e7e7e7;
  display: flex;
  justify-content: space-between;
}

.bookCover {
  position: relative;
  margin: 0 20px;
}
.bookCover img {
  align-items: center;
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.info {
  min-width: 200px;
  text-align: left;
}
.authors:last-child label {
  display: none;
}
